Scrapping and EDA for Meteorite Database

In [353]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# I was getting a 403 error so had to do this method to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
}

In [4]:
data1 = []

for page in range(1, 3): #only need 2 pages when selected to view 50000 rows
    url = f"https://www.lpi.usra.edu/meteor/metbull.cfm?sea=*&ants=&nwas=&falls=&valids=&stype=contains&lrec=50000&map=ll&browse=&country=All&srt=name&categ=All&mblist=All&rect=&phot=no&strewn=no&snew=0&pnt=Normal+table&sfor=names&dr=&page={page}"

    r = requests.get(url, headers=headers)

    print(r.text[:1000]) # test print

    soup = BeautifulSoup(r.text, "html.parser")

    # Find the main table
    table = soup.find("table", {"id": "maintable"})

    # Parse table rows (excluding header)
    rows = table.find_all("tr")[1:]  # Skip header

# Extract columns

    for row in rows:
        cols = row.find_all("td")
        if len(cols) == 0:
            continue
        name = re.sub(r'\s+', ' ', cols[0].text.replace("**", "")).strip() # Was having issues with empty spaces and ** denoting and index 
        abbrev = cols[1].text.strip()
        status = cols[2].text.strip()
        fall = cols[3].text.strip()
        year = cols[4].text.strip()
        place = re.sub(r'\s+', ' ', cols[5].text).strip() # Was having issues with empty spaces
        mtype = cols[6].text.strip()
        mass = cols[7].text.strip()
        metbull = cols[8].text.strip()
        latlong = cols[10].text.strip()
   
        data1.append({
            "Name": name,
            "Abbrev": abbrev,
            "Status": status,
            "Fall": fall,
            "Year": year,
            "Place": place,
            "Type": mtype,
            "Mass": mass,
            "MetBull": metbull,
            "LatLong": latlong,
        
        })

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><script async src='https://www.googletagmanager.com/gtag/js?id=G-ZBEXPWN42L'></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZBEXPWN42L');</script>

	<meta name="robots" content="index,nofollow"/>

	<title>Meteoritical Bulletin: Search the Database</title>
	<link rel="stylesheet" href="metbull.css" type="text/css">

	<link rel="alternate" type="application/rss+xml" title="Meteoritical Bulletin RSS Feed" href="https://www.lpi.usra.edu/meteor/meteorite-rss.php">

	<link href="Suggest/css/style.css" rel="stylesheet" type="text/css">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCiu15YF6OkcnQfXovYCsj5BzXSU2vKaY&libraries=drawing" type="text/javascript" asynch defer></script>
	<script src="TileMaps2.js"></script>
	<
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><script async src='https://www.googletagmanager.com/gtag/js?id=G-ZBEXPWN42L'></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZBEXPWN42L');</script>

	<meta name="robots" content="index,nofollow"/>

	<title>Meteoritical Bulletin: Search the Database</title>
	<link rel="stylesheet" href="metbull.css" type="text/css">

	<link rel="alternate" type="application/rss+xml" title="Meteoritical Bulletin RSS Feed" href="https://www.lpi.usra.edu/meteor/meteorite-rss.php">

	<link href="Suggest/css/style.css" rel="stylesheet" type="text/css">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCiu15YF6OkcnQfXovYCsj5BzXSU2vKaY&libraries=drawing" type="text/javascript" asynch defer></script>
	<script src="TileMaps2.js"></script>
	<

In [5]:
df1 = pd.DataFrame(data1)
df1 # looks good 84809 is the number of records I'm looking for

,Name,Abbrev,Status,Fall,Year,Place,Type,Mass,MetBull,LatLong
0,Aachen,,Official,Y,1880,"Nordrhein-Westfalen, Germany",L5,21 g,78,"(50.775000, 6.083330)"
1,Aammiq,,Official,,2000,"Al Biqa', Lebanon",H6,596 g,110,"(33.700000, 35.833330)"
2,Aarhus,,Official,Y,1951,"Region Midtjylland, Denmark",H6,720 g,8,"(56.183330, 10.233330)"
3,Aba,,Pseudo,,1927,"Kanto, Japan",Pseudometeorite,0 mg,,"(35.950000, 140.400000)"
4,Aba Panu,,Official,Yc,2018,"Oyo, Nigeria",L3,160 kg,107,"(8.282180, 3.567140)"
...,...,...,...,...,...,...,...,...,...,...
84804,Zomba,,Official,Y,1899,"Southern, Malawi",L6,7.5 kg,,"(-15.183330, 35.283330)"
84805,Zsadany,,Official,Y,1875,"Timis, Romania",H5,552 g,,"(45.916666, 21.216667)"
84806,Zubkovsky,,Official,,2003,"Rostovskaya oblast', Russia",L6,2.17 kg,89,"(49.789170, 41.504600)"
84807,Zulu Queen,,Official,,1976,"California, USA",L3.7,200 g,65,"(33.983330, -115.683330)"
84808,Zvonkov,,Official,Y,1955,"Kiev, Ukraine",H6,2.57 kg,6,"(50.200000, 30.250000)"

This is more data that can be combined with the first df.

In [7]:
data2 = []

for page in range(1, 3): #only need 2 pages when selected to view 50000 rows
    url = f"https://www.lpi.usra.edu/meteor/metbull.cfm?sea=*&ants=&nwas=&falls=&valids=&stype=contains&lrec=50000&map=ll&browse=&country=All&srt=name&categ=All&mblist=All&rect=&phot=no&strewn=no&snew=0&pnt=Bulletin+table&sfor=names&dr=&page={page}"

    r = requests.get(url, headers=headers)

    print(r.text[:1000]) # test print

    soup = BeautifulSoup(r.text, "html.parser")

    # Find the main table
    table = soup.find("table", {"id": "maintable"})

    # Parse table rows (excluding header)
    rows = table.find_all("tr")[1:]  # Skip header

# Extract columns

    for row in rows:
        cols = row.find_all("td")
        if len(cols) == 0:
            continue
        name = re.sub(r'\s+', ' ', cols[0].text.replace("**", "")).strip() # Was having issues with empty spaces and ** denoting and index 
        Origin  = cols[4].text.strip()
        Pieces  = cols[10].text.strip()
        Shock  = cols[12].text.strip()
        Weath   = cols[13].text.strip()
        Comment   = cols[19].text.strip()
     
        data2.append({
            "Name": name,
            "Origin": Origin,
            "Pieces": Pieces,
            "Shock": Shock,
            "Weath": Weath,
            "Comment": Comment,
            
        })

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><script async src='https://www.googletagmanager.com/gtag/js?id=G-ZBEXPWN42L'></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZBEXPWN42L');</script>

	<meta name="robots" content="index,nofollow"/>

	<title>Meteoritical Bulletin: Search the Database</title>
	<link rel="stylesheet" href="metbull.css" type="text/css">

	<link rel="alternate" type="application/rss+xml" title="Meteoritical Bulletin RSS Feed" href="https://www.lpi.usra.edu/meteor/meteorite-rss.php">

	<link href="Suggest/css/style.css" rel="stylesheet" type="text/css">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCiu15YF6OkcnQfXovYCsj5BzXSU2vKaY&libraries=drawing" type="text/javascript" asynch defer></script>
	<script src="TileMaps2.js"></script>
	<
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><script async src='https://www.googletagmanager.com/gtag/js?id=G-ZBEXPWN42L'></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZBEXPWN42L');</script>

	<meta name="robots" content="index,nofollow"/>

	<title>Meteoritical Bulletin: Search the Database</title>
	<link rel="stylesheet" href="metbull.css" type="text/css">

	<link rel="alternate" type="application/rss+xml" title="Meteoritical Bulletin RSS Feed" href="https://www.lpi.usra.edu/meteor/meteorite-rss.php">

	<link href="Suggest/css/style.css" rel="stylesheet" type="text/css">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCiu15YF6OkcnQfXovYCsj5BzXSU2vKaY&libraries=drawing" type="text/javascript" asynch defer></script>
	<script src="TileMaps2.js"></script>
	<

In [8]:
df2 = pd.DataFrame(data2)
df2 # Should be 68710  records
# this is extra information that can be added to the original df on the name

,Name,Origin,Pieces,Shock,Weath,Comment
0,Aammiq,,1,S1,W2.0,Submitted by Edwin Gnos
1,Aba Panu,,Many,S4,W0,Submitted by L. Garvie
2,Abadla,,1,high,low,"Field name CO-2; submitted by C. Agee, UNM"
3,Abadla 002,,Many,low,low,Fieldname MST-12; submitted by C. Agee
4,Abadla 003,,Many,C-S1,Moderate,"Submitted by K. Metzler, IfP"
...,...,...,...,...,...,...
68705,Zillah 001,,1,S3,W1-2,
68706,Zillah 002,,1,S3,W1,sv; cv; found a few m from Zillah 001; (data±1...
68707,Zinder,,,,,
68708,Zinder 003,Desert,1,,,"Working No.: De-12; submitted by K. Klemm, IfP..."
68709,Zubkovsky,,1,S3,W2,

In [38]:
df2["Weath"].unique()

array(['W2.0', 'W0', 'low', 'Moderate', '', 'W2/3', 'W3', 'W1', 'W2',
       'W4', 'W5', 'W1/2', 'W4-5', 'W5-6', 'W2-3', 'minor', 'moderate',
       'high', 'W0/1', 'Low', 'minimal', 'Severe', 'W1-2', 'W3-4', 'A',
       'Ce', 'B', 'B/C', 'Ae', 'C', 'B/Ce', 'A/B', 'A/Be', 'Be', 'e',
       'W3/4', 'W1.0', 'Strong', 'AB', 'W2/W4', '1-2', 'medium', 'B/Cx',
       'W0.0', 'W3-6', 'A/BE', 'AE', 'CE', 'BE', 'B/E', 'B/CE', 'W2-4',
       'fairly', 'heavy', 'High', 'W3-5', 'W4/5', 'strong', 'w2', 'W0/4',
       'W2-5', 'W0-1', 'W6', 'wi-3', 'W1/W3', 'W3.0', 'wi-1', 'wi-2',
       'W5/6', 'very low', 'W [sic]', 'mild (li', 'mild', 'Light', '2-3',
       '-', 'W1-3', 'minimal-moderate', 'extensive', 'signific', 'W0, W2',
       'low to m', 'weak', 'None', 'low/mod', 'Mod', 'Medium', 'variable',
       'Minor', 'severe', 'W1 to W4', 'wi-0', 'Low to m', 'Wi-4', 'W3.3',
       'extreme', 'W4.0', 'wi2', 'A/E', 'W1-W4', 'Minimal', 'W3.6',
       'low/mode', 'A/Bx'], dtype=object)

In [265]:
merged_df = pd.merge(df1, df2, on="Name", how="outer")
merged_df

,Name,Abbrev,Status,Fall,Year,Place,Type,Mass,MetBull,LatLong,Origin,Pieces,Shock,Weath,Comment
0,Aachen,,Official,Y,1880,"Nordrhein-Westfalen, Germany",L5,21 g,78,"(50.775000, 6.083330)",NaN,NaN,NaN,NaN,NaN
1,Aammiq,,Official,,2000,"Al Biqa', Lebanon",H6,596 g,110,"(33.700000, 35.833330)",,1,S1,W2.0,Submitted by Edwin Gnos
2,Aarhus,,Official,Y,1951,"Region Midtjylland, Denmark",H6,720 g,8,"(56.183330, 10.233330)",NaN,NaN,NaN,NaN,NaN
3,Aba,,Pseudo,,1927,"Kanto, Japan",Pseudometeorite,0 mg,,"(35.950000, 140.400000)",NaN,NaN,NaN,NaN,NaN
4,Aba Panu,,Official,Yc,2018,"Oyo, Nigeria",L3,160 kg,107,"(8.282180, 3.567140)",,Many,S4,W0,Submitted by L. Garvie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85681,Österplana 064,Öst 064,Relict*,,2011,"Skaraborgs, Sweden",Relict OC,0 mg,101,"(58.583330, 13.433330)",NaN,NaN,NaN,NaN,NaN
85682,Österplana 065,Öst 065,Relict*,,2011,"Skaraborgs, Sweden",Relict meteorite,0 mg,105,"(58.583330, 13.433330)",NaN,NaN,NaN,NaN,NaN
85683,Łowicz,,Official,Y,1935,"Skierniewice, Poland",Mesosiderite-A3,59 kg,,"(52.000000, 19.916670)",NaN,NaN,NaN,NaN,NaN
85684,Święcany,,Official,,2004,"Tarnow, Poland",L/LL5,8 g,94,"(49.791390, 21.257780)",,1,S2,W3,
85685,Žd'ár nad Sázavou,,Official,Yc,2014,"Vysocina, Czech Republic",L3,45 g,104,"(49.521670, 16.033330)",field,2,S2,W0,Submitted by Pavel Spurny; submitted by Pavel ...

**Some EDA to clean up the data for visualization and modeling**

In [ ]:
merged_df.to_csv("meteorite_data.csv", index=False)

In [267]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85686 entries, 0 to 85685
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     85686 non-null  object
 1   Abbrev   85686 non-null  object
 2   Status   85686 non-null  object
 3   Fall     85686 non-null  object
 4   Year     85686 non-null  object
 5   Place    85686 non-null  object
 6   Type     85686 non-null  object
 7   Mass     85686 non-null  object
 8   MetBull  85686 non-null  object
 9   LatLong  85686 non-null  object
 10  Origin   68710 non-null  object
 11  Pieces   68710 non-null  object
 12  Shock    68710 non-null  object
 13  Weath    68710 non-null  object
 14  Comment  68710 non-null  object
dtypes: object(15)
memory usage: 9.8+ MB

In [269]:
merged_df.nunique()

Name       84809
Abbrev     74190
Status         9
Fall           6
Year         579
Place       1003
Type         676
Mass        5754
MetBull      111
LatLong    33285
Origin       971
Pieces       273
Shock        100
Weath        104
Comment    17389
dtype: int64

In [271]:
# drop a usless column
merged_df.drop("Abbrev", axis=1, inplace=True)
merged_df.drop("MetBull", axis=1, inplace=True)

In [273]:
merged_df["Status"].value_counts()

Status
Official        78423
Provisional      6393
Pseudo            298
Doubtful          193
Crater            190
Relict*            97
Discredited        76
Undocumented       14
Artifact*           2
Name: count, dtype: int64

In [275]:
merged_df["Status"].isnull().sum()

0

In [277]:
# Simplify entires
status_mapping = {
    "Official": "accepted",
    "Provisional": "accepted",
    "Pseudo": "rejected",
    "Discredited": "rejected",
    "Artifact*": "rejected",
    "Doubtful": "uncertain",
    "Undocumented": "uncertain",
    "Relict*": "uncertain",
    "Crater": "uncertain"
}

# 
merged_df["Status_simplified"] = (merged_df["Status"].fillna("uncertain").map(lambda x: status_mapping.get(x.strip(), "uncertain")))
merged_df.drop("Status", axis=1, inplace=True)
merged_df["Status_simplified"].value_counts()

Status_simplified
accepted     84816
uncertain      494
rejected       376
Name: count, dtype: int64

In [279]:
merged_df["Fall"].value_counts()

Fall
      84252
Y      1268
Yc      118
Np       21
Yp       19
Nd        8
Name: count, dtype: int64

In [281]:
# Simplified by refering to the documentation - Most are found and the fall is not confirmed
fall_map = {
    "Y": "Fall",
    "Yc": "Fall",
    "Yp": "Fall",
    "Nd": "Find",
    "Np": "Find"
}

merged_df["Fall_simplified"] = (
    merged_df["Fall"]
    .fillna("Find")  # handle NaNs
    .map(lambda x: fall_map.get(x.strip(), "Find"))
)

merged_df.drop("Fall", axis=1, inplace=True)

In [283]:
merged_df["Fall_simplified"].value_counts()

Fall_simplified
Find    84281
Fall     1405
Name: count, dtype: int64

In [285]:
merged_df["Year"].value_counts()

Year
2000            5488
1998            5116
2003            4519
2010            4153
1979            3785
                ...
1421               1
1621               1
963                1
956                1
0.9 ± 0.1 Ma       1
Name: count, Length: 579, dtype: int64

In [287]:
def clean_year(value):
    if pd.isna(value):
        return np.nan
    
    # Convert to string for processing
    val_str = str(value).strip()
    
    # Handle ranges like "2000 or 2001"
    if 'or' in val_str:
        first_part = val_str.split('or')[0].strip()
        # If first part is a valid year number, return it
        if first_part.isdigit():
            return int(first_part)
        else:
            return np.nan
    
    # If string ends with any non-digit (like letters), mark as NaN
    if not val_str.isdigit():
        return np.nan
    
    # Otherwise, return as integer year
    return int(val_str)

merged_df['Year_clean'] = merged_df['Year'].apply(clean_year)

In [289]:
merged_df["Year_clean"].value_counts()

Year_clean
2000.0    5492
1998.0    5125
2003.0    4520
2010.0    4153
1979.0    3808
          ...
1722.0       1
1787.0       1
1772.0       1
1009.0       1
1792.0       1
Name: count, Length: 339, dtype: int64

In [291]:
# This is the most important category with the most differing entries. This will be the bases of a lot of the analysis 
print(merged_df["Type"].value_counts().to_string())

Type
H5                                     10187
L6                                      9111
H4                                      6517
L5                                      6287
H6                                      5110
Unknown                                 4908
L6¶                                     3469
L5¶                                     2763
LL5¶                                    2566
L4                                      2061
H6¶                                     1812
LL6¶                                    1474
LL6                                     1453
Stone-uncl                              1387
H5¶                                     1269
L3                                       902
H3                                       744
Ureilite                                 722
LL5                                      694
Eucrite                                  679
CO3                                      675
H5§                                      665
CM2                                      660
L6§                                      588
Diogenite                                584
LL3                                      552
CV3                                      532
Howardite                                487
H4/5                                     475
Eucrite-pmict                            443
LL4                                      400
Lunar (feldsp. breccia)                  361
Martian (shergottite)                    351
Iron, IIIAB                              351
Eucrite-mmict                            317
Mesosiderite                             301
H5#                                      253
H6§                                      251
Eucrite-br                               251
CK5                                      236
LL                                       236
H5/6                                     234
Terrestrial rock                         227
L6#                                      210
E3                                       206
H~5§                                     205
L~6§                                     195
CR2                                      190
Impact Crater                            190
Achondrite-ung                           176
L5/6                                     174
Iron, ungrouped                          159
Iron, IIAB                               152
L5§                                      150
Eucrite-unbr                             149
L4¶                                      147
EH3                                      146
EL6                                      142
CK4                                      142
Eucrite-melt breccia                     135
H5-6                                     133
Iron, IAB-MG                             129
Lunar                                    125
Doubtful meteorite                       116
LL7                                      112
Iron                                     106
Acapulcoite                              106
H                                        103
L3.5                                     102
Winonaite                                101
Lodranite                                101
CK6                                       98
CK3                                       97
H4-6                                      94
LL5§                                      92
Aubrite                                   89
Pallasite                                 88
Iron, IVA                                 88
H3-5                                      88
LL4-6                                     87
R3                                        86
Lunar (anorth)                            85
H6#                                       83
Iron, IAB complex                         83
H4#                                       82
H3-6                                      82
H4-5                                      81
H3.8                                      80
L3.8                                      80
L4/5                                      79
L~5§                                      78
R4                                        78
OC                                        78
L5#                                       78
L6-melt breccia                           76
H3.7                                      75
Chondrite-uncl                            74
Pallasite, PMG                            73
Pseudometeorite                           71
Brachinite                                71
Diogenite-pm                              70
H~6§                                      70
LL5-6                                     69
Iron, IAB-ung                             69
Unknown§                                  68
LL6§                                      68
LL5/6                                     67
Relict OC                                 65
L5-6                                      65
L3-6                                      64
L3.6                                      63
L-melt rock                               62
CVox3                                     59
Eucrite-cm                                59
Angrite                                   58
LL-melt breccia                           55
L                                         55
CVred3                                    55
L3.7                                      54
CVoxA3.7                                  54
L3.4                                      53
L5-melt breccia                           50
H~5$                                      48
L4-6                                      47
H~4§                                      46
H4¶                                       46
Doubtful stone                            46
H3.9                                      46
Lunar (frag. breccia)                     44
H5-melt breccia                           43
H3.6                                      43
R5                                        43
L~4§                                      42
Lunar (melt breccia)                      40
CVred3.6                                  40
LL3-6                                     40
LL4¶                                      38
C3-ung                                    38
R3-6                                      38
H3/4                                      37
LL3.8                                     37
Ureilite-pmict                            36
L7                                        35
Iron, IAB-sLL                             35
H7                                        35
Martian (nakhlite)                        34
L3.9                                      33
Diogenite-olivine                         33
LL3.7                                     33
L4-5                                      33
CM                                        33
L-imp melt                                32
L/LL3                                     31
L-melt breccia                            31
EL-melt rock                              31
Lunar (basalt)                            31
CM1                                       30
CH3                                       29
C2-ung                                    29
EL3                                       28
R3-5                                      28
L/LL6                                     28
LL6-melt breccia                          27
Iron, IID                                 27
LL(L)3                                    26
Chondrite-ung                             26
LL3.2                                     26
H-melt breccia                            26
LL~5§                                     26
L3-5                                      26
LL3.15                                    26
LL~6§                                     25
LL3.5                                     25
H4-an                                     25
CM1/2                                     25
LL3.4                                     24
LL3.6                                     24
Doubtful Iron                             24
LL6#                                      24
CO3.0                                     23
EH4                                       23
EL4                                       23
H5/6§                                     23
H3.5                                      22
Lunar (bas. breccia)                      22
L/LL4                                     22
Relict iron                               21
H4-6#                                     21
LL3.9                                     20
H3-4                                      20
CO3.2                                     20
H4§                                       19
L/LL5                                     19
L5/6§                                     19
Achondrite-prim                           19
CO3.1                                     19
L3.2                                      19
Iron, IAB-sHL                             19
H4/5#                                     19
Iron, IIIE                                18
Eucrite-an                                18
L3.1                                      18
H5-6§                                     18
LL3.3                                     18
LL3.10                                    18
L3.3                                      18
Iron, IVB                                 18
Martian (polymict breccia)                18
Iron, IIE                                 17
H3.4                                      17
Lunar (gabbro)                            17
Mesosiderite-A3                           17
Pallasite, PMG-an                         16
CK4/5                                     16
H/L4                                      16
L(LL)3                                    16
LL4-5                                     16
LL-melt rock                              15
LL3-5                                     15
L4-melt breccia                           15
L~5$                                      15
Lunar (troct. anorth.)                    15
CVoxB3.6                                  15
CO3.5                                     15
Pallasite, ungrouped                      14
R6                                        14
Iron, IAB-sLH                             14
H4-melt breccia                           14
H-melt rock                               14
Enst achon                                14
CR                                        14
H6-melt breccia                           14
L3/4                                      14
H~6$                                      14
Acapulcoite/lodranite                     13
EH6                                       13
H-imp melt                                13
L6-melt breccia§                          13
R3-4                                      13
Discredited                               13
Iron, IAB-sLM                             12
Iron, IC                                  12
LL3.1                                     12
H~4$                                      12
EL5                                       12
L~6$                                      11
H/L6                                      11
EH5                                       11
Mesosiderite-B2                           11
OC3                                       11
L4-6#                                     11
L3.15                                     11
Mesosiderite-C                            11
CVoxA3                                    11
L3.10                                     10
LL~4§                                     10
R3.8                                      10
CM2-an                                    10
CM-an                                     10
Achondrite-prim-ung                       10
Diogenite-an                              10
CO3.3                                     10
CI1                                       10
E6                                        10
LL4-7                                     10
Diogenite-melt breccia                    10
CO3.6                                     10
CO3.05                                     9
H/L5                                       9
L4§                                        9
CBa                                        9
L3-4                                       9
L6/7                                       9
EH4/5                                      9
Iron, IIIF                                 9
H/L3                                       9
Howardite-melt breccia                     9
LL4/5                                      9
CB                                         8
LL6/7                                      8
Iron, IIE-an                               8
H5-6#                                      8
LL5-melt breccia                           8
L4#                                        8
Iron, IIF                                  8
H-metal                                    8
Iron, IIC                                  8
C                                          8
R4-5                                       8
Mesosiderite-B                             8
E5                                         7
EH-melt rock                               7
CBb                                        7
Mesosiderite-A2                            7
Ureilite-an                                7
Mesosiderite-an                            7
E                                          7
H3.3                                       7
CK5/6                                      7
H4/5§                                      7
Mesosiderite-A1                            7
LL3.05                                     6
E4                                         6
H4/6                                       6
CK                                         6
Mesosiderite-A4                            6
OC4-melt breccia                           6
Aubrite-an                                 6
H4-5#                                      6
LL4-6#                                     6
E3-an                                      6
CV7                                        6
Iron, IIG                                  6
CVoxB3                                     6
LL6-an                                     6
EH-imp melt                                6
Iron, IVA-an                               6
Enst achon-ung                             6
CO3.8                                      5
LL4#                                       5
L3.8-6§                                    5
E-an                                       5
L-metal                                    5
LL~3§                                      5
Mesosiderite-C2                            5
H3.10                                      5
LL3-4                                      5
H3.9/4                                     5
Iron, IAB-sHH                              5
L3-melt breccia                            5
L/LL5/6                                    5
H3-melt breccia                            5
L~3§                                       5
C-ung                                      5
Pallasite, PES                             5
H5-an                                      5
C3.00-ung                                  5
Lunar (troct. melt breccia)                5
CO3.4                                      5
Mesosiderite-B1                            4
R3.8-6                                     4
L(H)3                                      4
Iron, IAB-an                               4
Lunar (bas/gab brec)                       4
Martian                                    4
CV3-an                                     4
L3.8-6                                     4
LL3.00                                     4
CK3/4                                      4
H3.15                                      4
CO                                         4
LL-imp melt                                4
CO3-an                                     4
Iron, IIIAB-an                             4
Iron, IAB?                                 4
L/LL3.4                                    4
Mesosiderite-B4                            4
R                                          4
Fusion crust                               4
Chondrite-fusion crust                     4
LL3.0                                      4
CVred3.7                                   4
Lunar (troct)                              4
H-an                                       4
R3.9                                       4
Iron, IIIAB?                               4
R3.6                                       4
H3.9-6                                     4
Stony iron                                 4
Achondrite (brachinite-like)               4
H3§                                        3
L5-6#                                      3
Doubtful OC                                3
R4-6                                       3
Eucrite-Mg rich                            3
L3-7                                       3
EL7                                        3
C1-ung                                     3
LL3§                                       3
H5-melt breccia§                           3
L3¶                                        3
L4/5§                                      3
Iron, IIIE-an                              3
Iron, IID-an                               3
CK4-an                                     3
L5-7                                       3
H(L)3                                      3
H3.0                                       3
LL4-melt breccia                           3
CK3-6                                      3
LL5-7                                      3
H~4                                        3
L3§                                        3
L/LL~6§                                    3
LL3-7                                      3
LL4§                                       3
CK3-an                                     3
L/LL3-5                                    3
Lunar (bas/anor)                           3
H3.2-an                                    3
Mesosiderite-A                             3
LL3.8-6                                    3
CL4                                        3
Lunar (troct. melt rock)                   3
H3.05                                      3
LL5#                                       3
Martian (chassignite)                      3
C3                                         3
L3.05                                      3
CR6                                        3
L5-6§                                      3
R3.7                                       3
CR2-an                                     2
C4                                         2
LL4-6§                                     2
L3.8-5                                     2
R3/4                                       2
L7-melt breccia                            2
CL3                                        2
C6                                         2
R5-6                                       2
CM2.0                                      2
CL3.9                                      2
Eucrite-mmict-an                           2
L3.0                                       2
H3.1                                       2
Martian (augite basalt)                    2
H~4-6§                                     2
CR7                                        2
Howardite-an                               2
L(?)3                                      2
Mesosiderite-C3                            2
LL(L)3.2                                   2
Iron, IC-an                                2
R3.5-4                                     2
H6-an                                      2
L/LL-melt rock                             2
L6-an                                      2
H3.8-an                                    2
H6/7                                       2
L(LL)3.10                                  2
Iron, IAB-sHL-an                           2
CK5-6                                      2
L(LL)3.05                                  2

In [293]:
def simplified_type(type_str):
    if pd.isna(type_str):
        return 'Unclassified'
    
    type_str = type_str.strip()

    # Lunar and Martian meteorites
    if 'Lunar' in type_str:
        return 'Lunar'
    if 'Martian' in type_str or any(x in type_str for x in ['Shergottite', 'Nakhlite', 'Chassignite', 'ALH84001']):
        return 'Martian'

    # for other strings
    if any(x in type_str for x in ['Unknown', 'Doubtful', 'Terrestrial', 'Pseudometeorite', 'Discredited', 'Fusion', 'Relict']):
        return 'Unclassified'

    # Iron meteorites - magmatic groups
    iron_magmatic_groups = ['IC', 'IIAB', 'IIC', 'IID', 'IIF', 'IIG', 'IIIAB', 'IIIE', 'IIIF', 'IVA', 'IVB']
    for group in iron_magmatic_groups:
        if type_str.endswith(group):
            return f'{group} iron'

    # Iron meteorites - non-magmatic groups
    if type_str.endswith('IAB'):
        return 'IAB iron'
    if type_str.endswith('IIE'):
        return 'IIE iron'

    # Achondrites
    if any(x in type_str for x in ['Acapulcoite', 'Lodranite', 'Winonaite']):
        if 'Acapulcoite' in type_str:
            return 'ACA achondrite'
        if 'Lodranite' in type_str:
            return 'LOD achondrite'
        if 'Winonaite' in type_str:
            return 'WIN achondrite'
    
    if any(x in type_str for x in ['Howardite', 'Eucrite', 'Diogenite']):
        if 'Howardite' in type_str:
            return 'HOW achondrite'
        if 'Eucrite' in type_str:
            return 'EUC achondrite'
        if 'Diogenite' in type_str:
            return 'DIO achondrite'
    if 'Angrite' in type_str:
        return 'AND achondrite'
    if 'Aubrite' in type_str:
        return 'AUB achondrite'
    if 'Ureilite' in type_str:
        return 'Ureilite achondrite'
    if 'Brachinite' in type_str:
        return 'Brachinite achondrite'
    
    # Stony-iron meteorites
    if 'Pallasite' in type_str:
        return 'PAL'
    if 'Mesosiderite' in type_str:
        return 'MES'  
    
    # Chondrites
    #if 'Chondrite' in type_str or 'chondrite' in type_str or 'chondrites' in type_str:
        # Carbonaceous chondrites and subclasses
    if type_str.startswith('CI'):
        return 'CI chondrite'
    if type_str.startswith(('CM')):
        return 'CM chondrite'
    if type_str.startswith('CO'):
        return 'CO chondrite'
    if type_str.startswith('CV'):
        return 'CV chondrite'
    if type_str.startswith('CK'):
        return 'CK chondrite'
    if type_str.startswith('CR'):
        return 'CR chondrite'
    if type_str.startswith('CH'):
        return 'CH chondrite'
    if type_str.startswith('CB'):
        return 'CB chondrite'

        # Ordinary chondrites
    if type_str.startswith('LL'):
        return 'LL chondrite'
    if type_str.startswith('L'):
        return 'L chondrite'
    if type_str.startswith('H'):
        return 'H chondrite'
        
    # Enstatite chondrites
    if type_str.startswith('EH'):
        return 'EH chondrite'
    if type_str.startswith('EL'):
        return 'EL chondrite'
        
        # Other chondrite groups
    if type_str.startswith('R'):
        return 'R chondrite'
    if type_str.startswith('K'):
        return 'K chondrite'
    if 'Chondrite' in type_str or 'chondrite' in type_str or 'chondrites' in type_str:
        return 'Other chondrite'
    
    # Catch-all for Iron Meteorites if 'Iron' present
    if 'Iron' in type_str:
        return 'Other iron'

    # Unclassified or doubtful cases

    return 'Unclassified'

In [295]:
merged_df['simplified_type'] = merged_df['Type'].apply(simplified_type)
merged_df.drop("Type", axis=1, inplace=True)

In [296]:
merged_df["simplified_type"].value_counts()

simplified_type
H chondrite              29543
L chondrite              27767
LL chondrite              8591
Unclassified              7633
EUC achondrite            2057
CO chondrite               806
CV chondrite               796
CM chondrite               771
Ureilite achondrite        766
Lunar                      764
DIO achondrite             709
Other iron                 679
CK chondrite               622
IIAB iron                  503
HOW achondrite             498
Martian                    414
MES                        398
R chondrite                351
Other chondrite            313
EL chondrite               244
EH chondrite               222
CR chondrite               213
PAL                        197
ACA achondrite             119
WIN achondrite             103
LOD achondrite             102
AUB achondrite              95
IVA iron                    88
Brachinite achondrite       72
AND achondrite              58
CH chondrite                30
IID iron                    27
CB chondrite                25
IC iron                     20
IVB iron                    18
IIIE iron                   18
IIE iron                    17
IIF iron                    17
CI chondrite                10
IIG iron                     6
K chondrite                  4
Name: count, dtype: int64

In [299]:
# I want to simplify this so everything is in grams (g)
merged_df["Mass"].value_counts()

Mass
            1185
6.1 g        204
5.2 g        202
6.2 g        201
6.8 g        193
            ...
108.5 kg       1
51.5 kg        1
10.45 kg       1
187.9 g        1
5.86 kg        1
Name: count, Length: 5754, dtype: int64

In [301]:
def convert_mass(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().lower()
    if value.endswith("kg"):
        try:
            return float(value.replace("kg", "").strip()) * 1000  # convert kg values to grams
        except:
            return np.nan
    elif value.endswith("g"):
        try:
            return float(value.replace("g", "").strip())  # remove any srings for already in grams
        except:
            return np.nan
     
    elif re.fullmatch(r"\d+(\.\d+)?", value): # if values have no units - assume grams
        try:
            return float(value)
        except:
            return np.nan 
    
    return np.nan

merged_df["Mass_g"] = merged_df["Mass"].apply(convert_mass)
merged_df.drop("Mass", axis=1, inplace=True)

In [303]:
merged_df["Mass_g"].sample(5) # drop the orinigal column and it's now a float

58025     102.0
28180       0.1
79512      24.3
34524      39.1
54851    2130.0
Name: Mass_g, dtype: float64

In [305]:
merged_df["Pieces"].value_counts()

Pieces
1              42727
               19008
2               1853
3                895
many             790
               ...
over 200           1
95                 1
~20                1
1470               1
Many stones        1
Name: count, Length: 273, dtype: int64

In [307]:
# Try to get all pieces in numerical

pieces_map = {
    'one': 1,
    'many': 50,
    'Many': 50,
    'several': 20,
    'Several': 20,
    'hundreds': 200,
    'Hundreds': 200,
    'numerous': 40,
    'frags.': 10,
    'Many fragments': 50,
}

def parse_pieces(val):
    val = str(val).strip().lower()
    
    # Handle fuzzy words
    if val in pieces_map:
        return pieces_map[val]
    
    # Handle different phrases ">100", "over 20", "~30"
    if re.match(r'^>\d+', val):
        return float(re.findall(r'\d+', val)[0]) + 1
    if re.match(r'^~\d+', val):
        return float(re.findall(r'\d+', val)[0])
    if 'over' in val:
        return float(re.findall(r'\d+', val)[0]) + 1
    
    # Extract the first number found
    match = re.search(r'\d+', val)
    if match:
        return float(match.group())
    
    return np.nan  # If nothing found

merged_df["pieces_numeric"] = merged_df["Pieces"].apply(parse_pieces)
merged_df.drop("Pieces", axis=1, inplace=True)

In [309]:
print(merged_df["Pieces_numeric"].value_counts().to_string())

KeyError: 'Pieces_numeric'

In [311]:
merged_df["Shock"].value_counts()

Shock
           40504
S2         10261
S3          5694
S1          3944
S4          3112
           ...
Strong         1
S0             1
S3, b          1
S2-3, b        1
AS-4           1
Name: count, Length: 100, dtype: int64

In [313]:
print(merged_df["Shock"].value_counts().to_string())

Shock
                      40504
S2                    10261
S3                     5694
S1                     3944
S4                     3112
low                    1750
S5                      850
high                    809
moderate                576
S6                      197
C-S2                     91
C-S3                     79
C-S1                     75
S3/4                     57
S2/3                     56
S1/2                     52
medium                   43
S2-3                     39
Low                      36
High                     29
strong                   28
M-S2                     27
S1-2                     26
M-S3                     21
C-S4                     20
S3-5                     18
S4/5                     17
U-S2                     16
Moderate                 16
S3-4                     16
minimal                  15
S2-4                     15
M-S4                     15
C-S5                     14
U-S3                     14
M-S1                     14
U-S1                     11
S4-5                     10
S1-3                      9
minimal-moderate          8
S3-6                      7
S2 clast                  5
U-S5                      5
S1-4                      5
S2-5                      5
S5/6                      5
M-S5                      5
S2-6                      4
U-S4                      4
A-S3                      4
M-S6                      4
medium-high               3
S5-6                      3
low-medium                3
Weak                      3
S1-S2                     3
Melted                    3
~S2                       3
S2, b                     3
A-S2                      3
S4 clast                  2
S1,2                      2
IM                        2
S4-IM                     2
S1-S3                     2
S4-6                      2
moderate-extensive        1
heavy                     1
extensive                 1
~S3                       1
S4 impact melted          1
Shock melt                1
s2-s4                     1
S 2/4                     1
S2-S4                     1
2-4                       1
weak                      1
S2,3                      1
Probable                  1
S2-S5                     1
shocked                   1
low-high                  1
C-S5/6                    1
S3 to 5                   1
S5-S6                     1
S2 to S6                  1
None                      1
S2, melt                  1
Strongly                  1
S2 (clas                  1
S7                        1
S0/1                      1
s2                        1
S3 clast                  1
A-S5                      1
Strong                    1
S0                        1
S3, b                     1
S2-3, b                   1
AS-4                      1

In [315]:
def clean_shock(val):
    val = str(val).strip().lower()

    #this was creating new data that I didn't want
    if val in ['0', '7']:
        return np.nan

    # Custom word-based mappings
    shock_map = {
        'low': 'S2',
        'moderate': 'S4',
        'high': 'S5',
        'medium': 'S3',
        'minimal': 'S1'
    }

    for word, mapped in shock_map.items():
        if word in val:
            return mapped

    # Match direct or compound S-levels
    match = re.findall(r'\bS[1-6]\b', val.upper())
    if match:
        return match[0]
    
    return np.nan


merged_df["clean_shock"] = merged_df["Shock"].apply(clean_shock)
merged_df.drop("Shock", axis=1, inplace=True)

In [317]:
print(merged_df["clean_shock"].value_counts().to_string())

clean_shock
S2    12327
S3     5957
S1     4158
S4     3786
S5     1726
S6      201

In [319]:
merged_df["Weath"].value_counts()

Weath
B           10429
W2           8791
W1           8624
B/C          6482
W3           6107
            ...
Low to m        1
W3-6            1
W1 to W4        1
severe          1
A/Bx            1
Name: count, Length: 104, dtype: int64

In [321]:
print(merged_df["Weath"].value_counts().to_string())

Weath
B                   10429
W2                   8791
W1                   8624
B/C                  6482
W3                   6107
C                    5734
                     4597
A/B                  4214
low                  2818
W4                   2540
A                    2311
moderate             1380
W0                    437
B/Ce                  429
Be                    370
W5                    349
W1/2                  318
W0/1                  296
high                  288
W2/3                  281
W2-3                  201
Ce                    194
W1-2                  146
A/Be                  143
W3/4                  134
W3-4                  130
minimal               105
medium                 97
CE                     72
B/CE                   66
Ae                     57
BE                     42
minor                  41
Moderate               38
W1.0                   37
Low                    37
W6                     30
A/BE                   24
W0-1                   23
W2.0                   22
very low               20
Severe                 18
strong                 17
W3.0                   14
W4-5                   14
low to m               12
W4/5                   11
weak                   10
High                   10
wi-2                    9
AB                      7
W0.0                    7
Minor                   6
-                       6
extensive               6
wi-3                    6
A/E                     6
W2-4                    6
e                       5
heavy                   5
W5-6                    4
Light                   4
wi-1                    4
AE                      4
W1-3                    4
w2                      3
Mod                     3
minimal-moderate        3
Strong                  3
None                    3
B/E                     3
Medium                  2
low/mode                2
mild                    2
1-2                     2
B/Cx                    2
wi-0                    2
W1/W3                   2
fairly                  2
W3-5                    2
W0, W2                  2
signific                1
variable                1
W5/6                    1
2-3                     1
W2-5                    1
W1-W4                   1
Minimal                 1
W3.6                    1
low/mod                 1
mild (li                1
wi2                     1
W4.0                    1
W [sic]                 1
extreme                 1
W3.3                    1
W0/4                    1
Wi-4                    1
W2/W4                   1
Low to m                1
W3-6                    1
W1 to W4                1
severe                  1
A/Bx                    1

In [323]:
def clean_weath(val):
    val = str(val).strip().lower()

    # Remove null-like entries (e.g. blank, dash, etc.)
    if val in ['', '-', 'none']:
        return np.nan

    # Word-based mapping
    weath_map = {
        'low': 'W2',
        'very low': 'W1',
        'moderate': 'W3',
        'medium': 'W4',
        'mod': 'W3',
        'minimal': 'W1',
        'minor': 'W1',
        'mild': 'W2',
        'high': 'W5',
        'strong': 'W5',
    }

    for word, mapped in weath_map.items():
        if word in val:
            return mapped

    # Match W1–W6 (including variants like W1-2, W3/4, W4.0, etc.)
    match = re.findall(r'\bW[1-6]\b', val.upper())
    if match:
        return match[0]

    return np.nan


merged_df["clean_weath"] = merged_df["Weath"].apply(clean_weath)
merged_df.drop("Weath", axis=1, inplace=True)

In [325]:
print(merged_df["clean_weath"].value_counts().to_string())

clean_weath
W2    12202
W1     9286
W3     7814
W4     2665
W5      672
W6       30

In [327]:
merged_df

,Name,Year,Place,LatLong,Origin,Comment,Status_simplified,Fall_simplified,Year_clean,simplified_type,Mass_g,pieces_numeric,clean_shock,clean_weath
0,Aachen,1880,"Nordrhein-Westfalen, Germany","(50.775000, 6.083330)",NaN,NaN,accepted,Fall,1880.0,L chondrite,21.0,NaN,NaN,NaN
1,Aammiq,2000,"Al Biqa', Lebanon","(33.700000, 35.833330)",,Submitted by Edwin Gnos,accepted,Find,2000.0,H chondrite,596.0,1.0,S1,W2
2,Aarhus,1951,"Region Midtjylland, Denmark","(56.183330, 10.233330)",NaN,NaN,accepted,Fall,1951.0,H chondrite,720.0,NaN,NaN,NaN
3,Aba,1927,"Kanto, Japan","(35.950000, 140.400000)",NaN,NaN,rejected,Find,1927.0,Unclassified,NaN,NaN,NaN,NaN
4,Aba Panu,2018,"Oyo, Nigeria","(8.282180, 3.567140)",,Submitted by L. Garvie,accepted,Fall,2018.0,L chondrite,160000.0,50.0,S4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85681,Österplana 064,2011,"Skaraborgs, Sweden","(58.583330, 13.433330)",NaN,NaN,uncertain,Find,2011.0,Unclassified,NaN,NaN,NaN,NaN
85682,Österplana 065,2011,"Skaraborgs, Sweden","(58.583330, 13.433330)",NaN,NaN,uncertain,Find,2011.0,Unclassified,NaN,NaN,NaN,NaN
85683,Łowicz,1935,"Skierniewice, Poland","(52.000000, 19.916670)",NaN,NaN,accepted,Fall,1935.0,MES,59000.0,NaN,NaN,NaN
85684,Święcany,2004,"Tarnow, Poland","(49.791390, 21.257780)",,,accepted,Find,2004.0,L chondrite,8.0,1.0,S2,W3
85685,Žd'ár nad Sázavou,2014,"Vysocina, Czech Republic","(49.521670, 16.033330)",field,Submitted by Pavel Spurny; submitted by Pavel ...,accepted,Fall,2014.0,L chondrite,45.0,2.0,S2,NaN

In [337]:
# Drop rows with missing or malformed LatLong
latlong_clean = (
    merged_df['LatLong']
    .dropna()
    .str.replace(r'[\(\)]', '', regex=True)
    .str.strip()
)

latlong_clean = latlong_clean[latlong_clean != '']


# Split non-null LatLong values
latlong_split = latlong_clean.str.split(',', expand=True)
latlong_split.columns = ['Latitude', 'Longitude']

# Convert to float
latlong_split['Latitude'] = latlong_split['Latitude'].astype(float)
latlong_split['Longitude'] = latlong_split['Longitude'].astype(float)

# Assign back to the original DataFrame (will align indexes properly)
merged_df['Latitude'] = latlong_split['Latitude']
merged_df['Longitude'] = latlong_split['Longitude']

In [345]:
merged_df.drop("LatLong", axis=1, inplace=True)

In [347]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85686 entries, 0 to 85685
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               85686 non-null  object
 1   Year               85686 non-null  object
 2   Place              85686 non-null  object
 3   Origin             68710 non-null  object
 4   Comment            68710 non-null  object
 5   Status_simplified  85686 non-null  object
 6   Fall_simplified    85686 non-null  object
 7   Year_clean         83547 non-null  float64
 8   simplified_type    85686 non-null  object
 9   Mass_g             83866 non-null  float64
 10  pieces_numeric     49675 non-null  float64
 11  clean_shock        28155 non-null  object
 12  clean_weath        32669 non-null  object
 13  Latitude           52064 non-null  float64
 14  Longitude          52064 non-null  float64
dtypes: float64(5), object(10)
memory usage: 9.8+ MB

In [349]:
merged_df.nunique()

Name                 84809
Year                   579
Place                 1003
Origin                 971
Comment              17389
Status_simplified        3
Fall_simplified          2
Year_clean             339
simplified_type         41
Mass_g                5674
pieces_numeric         171
clean_shock              6
clean_weath              6
Latitude             22872
Longitude            24992
dtype: int64

In [351]:
# Use this .csv for future analysis
merged_df.to_csv("final_meteorite_data.csv", index=False)